{% extends 'base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas magnam earum repudiandae possimus dignissimos eius nemo sit, natus tempora excepturi sint doloribus quam ex commodi officia aspernatur minima aut nostrum. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati, quae, et ipsam unde, accusamus dolores sint ab distinctio alias maiores vel est minima soluta voluptatum suscipit laboriosam! Veritatis, placeat explicabo!</p>
   {% endblock %}
</body>
</html>